<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face-On analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/analysis_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/changeSetupImage.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/colourStagePlaceholder.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/colourCheckButton.js') }}"></script>
    <script>
        // Assign data passed by Flask to JS variable
        var data = {{results | tojson }};
    </script>
</head>
<body>
<h1>Face-On view analysis</h1>
<div class="video_player">
    <video width="480" height="860" controls>
        <source src="{{ url_for('video', filename='FO_analysed.mp4') }}" type="video/mp4">
        <!-- Delete this and replace it with something more informative to the user-->
        Your browser does not support the video tag.
    </video>
</div>
<div class="sidebar">
    <!--TODO: Allign these items-->
    <div class="sidebar_item">
        <div> SETUP</div>
        <img id="Setup" src="{{ url_for('video', filename='setup.jpg') }}" width="80" , height="140">
        <div class="modal">
            <script>
                 var items = data.filter(function(item) {
                    return item.Stage === "Setup";
                 });
            </script>
            <img id="setup_img" src="{{ url_for('video', filename='setup.jpg') }}">
            <div class="fix_text"></div>
            <button onClick="changeImage('/video/setup.jpg', 'setup_img')">Setup img</button>
            <button onClick="changeImage('/video/leg_width.jpg', 'setup_img')">Legs Shoulder Width Apart</button>
            <script> colourButtons(items) </script>
        </div>
    </div>
    <div class="sidebar_item">
        <div> Takeaway</div>
        <img id="Takeaway" src="{{ url_for('video', filename='takeaway.jpg') }}" width="80" , height="140">
        <div class="modal">

            <script>
                 var items = data.filter(function(item) {
                    return item.Stage === "Takeaway";
                 });



            </script>
            <img id="takeaway_img" src="{{ url_for('video', filename='takeaway.jpg') }}">
            <div class="fix_text"></div>
            <button onClick="changeImage('/video/takeaway.jpg', 'takeaway_img', this, data)">Takeaway img</button>
            <button onClick="changeImage('video/one_piece_movement.jpg', 'takeaway_img', this, data)">One Piece Movement</button>
            <script> colourButtons(items) </script>
        </div>
    </div>
    <div class="sidebar_item">
        <div> Backswing</div>
        <img id="Backswing" src="{{ url_for('video', filename='backswing.jpg') }}" width="80" , height="140">
        <div class="modal">
            <script>
                 var items = data.filter(function(item) {
                    return item.Stage === "Backswing";
                 });



            </script>
            <img id="backswing_img" src="{{ url_for('video', filename='backswing.jpg') }}">
            <div class="fix_text"></div>
            <script> colourButtons(items) </script>
        </div>
    </div>
    <div class="sidebar_item">
        <div> Downswing</div>
        <img id="Downswing" src="{{ url_for('video', filename='downswing.jpg') }}" width="80" , height="140">
        <div class="modal">
            <script>
                 var items = data.filter(function(item) {
                    return item.Stage === "Downswing";
                 });

            </script>
            <img id="downswing_img" src="{{ url_for('video', filename='downswing.jpg') }}">
            <div class="fix_text"></div>
            <!-- TODO Add the head behind ball check -->
            <script> colourButtons(items) </script>
        </div>
    </div>
    <div class="sidebar_item">
        <div> IMPACT</div>
        <!--<img src="{{ url_for('static', filename='swing_stage/face_on/backswing.jpg') }}">-->
    </div>
    <div class="sidebar_item">
        <div> Follow through</div>
        <img id="Followthrough" src="{{ url_for('video', filename='followthrough.jpg') }}" width="80" , height="140">
        <div class="modal">
            <script>
                 var items = data.filter(function(item) {
                    return item.Stage === "Followthrough";
                 });

            </script>
            <img id="followthrough_img" src="{{ url_for('video', filename='followthrough.jpg') }}">
            <div class="fix_text"></div>
            <button onClick="changeImage('/video/followthrough.jpg', 'followthrough_img', this, data)">Follow Through img</button>
            <button onClick="changeImage('/video/shoulder_over_foot.jpg', 'followthrough_img', this, data)">Head over Lead Leg</button>
            <script> colourButtons(items) </script>
        </div>
    </div>
    <script>
        setColourField(data)
    </script>
</div>
</body>
</html>