<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face-On analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/analysis_style.css') }}">
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/your_javascript_file.js') }}"></script>-->
</head>
<body>
<h1>Down-the-Line analysis</h1>
<div class="video_player">
    <video width="480" height="860" controls>
        <source src="{{ url_for('video', filename='DTL_analysed.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div class="sidebar">
    <!--TODO: Allign these items-->
    <div class="sidebar_item">
        <div> SETUP</div>
        <img src="{{ url_for('video', filename='setup.jpg') }}" width="80" , height="140">
        <div class="modal">
            <img src="{{ url_for('video', filename='setup.jpg') }}">
        </div>
    </div>
    <div class="sidebar_item">
        <div> Takeaway</div>
        <img src="{{ url_for('video', filename='takeaway.jpg') }}" width="80" , height="140">
        <div class="modal">
            <img src="{{ url_for('video', filename='takeaway.jpg') }}">
        </div>
    </div>
    <div class="sidebar_item">
        <div> Backswing</div>
        <img src="{{ url_for('video', filename='backswing.jpg') }}" width="80" , height="140">
        <div class="modal">
            <img src="{{ url_for('video', filename='backswing.jpg') }}">
        </div>
    </div>
    <div class="sidebar_item">
        <div> downswing</div>
        <img src="{{ url_for('video', filename='downswing.jpg') }}" width="80" , height="140">
        <div class="modal">
            <img src="{{ url_for('video', filename='downswing.jpg') }}">
        </div>
    </div>
    <div class="sidebar_item">
        <div> IMPACT</div>
        <!--<img src="{{ url_for('static', filename='swing_stage/face_on/backswing.jpg') }}">-->
    </div>
    <div class="sidebar_item">
        <div> Follow thorugh</div>
        <img src="{{ url_for('video', filename='followthrough.jpg') }}" width="80" , height="140">
        <div class="modal">
            <img src="{{ url_for('video', filename='followthrough.jpg') }}">
        </div>
    </div>
</div>
</body>
</html>