<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face-On analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/analysis_style.css') }}">
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/your_javascript_file.js') }}"></script>-->
</head>
<body>
<h1>Face-On view analysis</h1>
<div class="video_player">
    <video width="{{ width }}" height="{{ width }}" controls>
        <source src="{{ url_for('video', filename='FO_analysed.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div class="sidebar">
    <!--TODO: Allign these items-->
    <div class="sidebar_item">
        <div> SETUP</div>
        <img src="{{ url_for('static', filename='swing_stage/face_on/setup.jpg') }}">
        <div class="modal">
            <img src="{{ url_for('static', filename='swing_stage/face_on/setup.jpg') }}">
        </div>
        <!--TODO: Make each of these a modal-->
    </div>
    <div class="sidebar_item">
        <div> TAKEAWAY</div>
        <img src="{{ url_for('static', filename='swing_stage/face_on/takeaway.jpg') }}">
        <div class="modal">
            <img src="{{ url_for('static', filename='swing_stage/face_on/takeaway.jpg') }}">
        </div>
    </div>
    <div class="sidebar_item">
        <div> BACKSWING</div>
        <img src="{{ url_for('static', filename='swing_stage/face_on/backswing.jpg') }}">
        <div class="modal">
            <img src="{{ url_for('static', filename='swing_stage/face_on/backswing.jpg') }}">
        </div>
    </div>
    <div class="sidebar_item">
        <div> DOWNSWING</div>
        <img src="{{ url_for('static', filename='swing_stage/face_on/downswing.jpg') }}">
        <div class="modal">
            <img src="{{ url_for('static', filename='swing_stage/face_on/downswing.jpg') }}">
        </div>
    </div>
    <div class="sidebar_item">
        <div> IMPACT</div>
        <!--<img src="{{ url_for('static', filename='swing_stage/face_on/backswing.jpg') }}">-->
    </div>
    <div class="sidebar_item">
        <div> FOLLOW THROUGH</div>
        <img src="{{ url_for('static', filename='swing_stage/face_on/followthrough.jpg') }}">
        <div class="modal">
            <img src="{{ url_for('static', filename='swing_stage/face_on/followthrough.jpg') }}">
        </div>
    </div>
</div>
</body>
</html>