<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Golf Coach</title>
</head>
<body>
<h1> Please upload a video sample </h1>
<h3> Insert Face-On drag and drop box here </h3>
<h3> Insert Down-the-Line drag and drop box here </h3>
<div>
    <div><a href="play_video">Delete this - Play Video</a></div>
    <div><a href="FO_analysis">Analyse Face-On</a></div>
    <div><a href="play_video">Analyse Both</a></div>
    <div><a href="DTL_analysis">Analyse Down-the-Line</a></div>
</div>
</body>
</html>